<!DOCTYPE html>
<html lang="en">

<head>
	<title>contact</title>
	<link rel="stylesheet" href="css/main.min.css"/>
</head>
<body>

<%- include('partials/navbar.ejs') %>


<main role="main">
	<div class="wrapper">
		contact
	</div>
</main>		 	
</body>
</html>