<!DOCTYPE html>
<html lang="en">

<head>
	<title>Index</title>
	<link rel="stylesheet" href="css/main.min.css"/>
</head>
<body>

<%- include('partials/navbar.ejs') %>


<main role="main">
	<div class="wrapper">
		<p>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent placerat lorem magna, non pretium mi posuere eu. Curabitur libero lacus, mollis eget massa fermentum, dignissim feugiat lorem. Duis eu nunc massa. Praesent ut arcu accumsan, luctus augue in, vulputate est. Phasellus varius arcu quis nisi vulputate eleifend. Mauris quis nisl faucibus ex suscipit tempor ultrices eget est. Duis sit amet quam sit amet enim pulvinar dignissim et eu lorem. Sed vehicula nunc mauris, ut venenatis metus scelerisque eu. Maecenas mauris mauris, condimentum vel risus a, ultrices imperdiet nunc. Aenean blandit nisl ut placerat eleifend. Sed semper ligula at nunc rutrum, sit amet tincidunt odio finibus. Etiam eu iaculis libero. Sed fermentum ex et felis fermentum dapibus. Cras suscipit consequat turpis, sit amet vulputate massa tristique semper.
			
			Cras aliquam ex metus, sed laoreet nulla feugiat vitae. Nunc ultrices felis pulvinar urna volutpat convallis. Vestibulum at ex ut purus dapibus porttitor. Sed ut ante ac massa interdum tristique ut ac mauris. Vivamus eu tempor massa. Pellentesque sodales, urna at ultricies vulputate, magna elit lacinia purus, ut posuere sapien dui eu metus. Vestibulum eu tristique quam. Ut ligula lorem, placerat condimentum mauris dapibus, fringilla blandit nibh. Duis est erat, malesuada non malesuada a, lacinia sit amet risus. Duis sit amet ante ut turpis ullamcorper ultrices eget luctus lorem. Cras faucibus et tortor ac dictum. Morbi convallis et arcu quis luctus. Donec congue posuere dui dictum pellentesque. Ut ullamcorper rhoncus mauris, eget semper justo. Nulla nec luctus nisl, ac lobortis felis. Phasellus eu erat sit amet dui pellentesque interdum.
			
			Etiam nisi erat, mollis a mauris eu, mollis aliquet eros. Curabitur rutrum, urna ac imperdiet dapibus, nunc quam tempor felis, vitae vehicula mauris erat sit amet libero. Nunc sit amet consequat lectus, id auctor ante. Morbi lobortis, ante eu blandit egestas, augue nisl egestas nunc, ac fermentum mauris arcu vel quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ut malesuada nunc, cursus blandit metus. Nam mi urna, pharetra in dui a, suscipit euismod ante.
			
			Etiam id nisl fermentum, faucibus dui ac, lobortis enim. Nunc nec velit ligula. Aenean vulputate purus id sem bibendum aliquet. In eu luctus nunc. Nam feugiat volutpat felis id vulputate. Mauris faucibus, ante a porta laoreet, libero odio cursus erat, sit amet facilisis lorem quam et augue. Sed libero mi, pellentesque sed lectus vel, elementum vehicula enim. Quisque bibendum rhoncus malesuada. Sed vulputate erat non tellus porttitor ullamcorper.
			
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean augue odio, fringilla sit amet turpis eget, dignissim rutrum tortor. Aenean non metus bibendum, congue urna sit amet, dictum ipsum. Aenean suscipit ligula id vehicula vulputate. Aliquam ac nisl ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris lobortis nisl vitae ipsum venenatis malesuada. </p>
	</div>
</main>		 	
</body>
</html>